[*]
charset = utf-8
insert_final_newline = true

[*.{c,h,sh,perl,pl,pm,txt}]
indent_style = tab
tab_width = 8

[Makefile]
indent_style = tab
tab_width = 8

[*.py]
indent_style = space
indent_size = 4

